<section class="section-contact">
    <div class="menu-contact">
        <a href="/homepage" class="pointer-contact" id="name">Aleksandra Tarnawska</a>
        <a href="/about" class="pointer-contact" id="about">About</a>
        <a href="/contact" class="pointer-contact" id="contact">Contact</a>
    </div>
    <div class="container-contact">
        <p>Feel free to contact at</p>
        <a href="mailto:tarnawska.aleksandra@gmail.com"><u>tarnawska.aleksandra @gmail.com</u>
        </a>
    </div>
    <div class="footer">
        <p>
            © 2023 Aleksandra Tarnawska. All rights reserved.
        </p>
    </div>
</section>