<div class="container-description--partials">
    <p>Online store selling handmade products, which
        brings together both creators and people
        looking for original items. You can create an
        account, sell, as well as buy a product or get to
        know its creator by being able to contact
        directly.
    </p>
</div>