<div class="title-subcategories--partial">
    <p>Mobile</p>
</div>

<div class="img_mobile-subcategories--partial">

    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-mobile--partial">
        <img src="../assets/images_subcategory_rtmokap/Mobile_1.png" alt="homepage">
        <p>Homepage</p>
    </div>

    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-mobile--partial">
        <img src="../assets/images_subcategory_rtmokap/Mobile_2.png" alt="menu">
        <p>Menu</p>
    </div>

    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-mobile--partial">
        <img src="../assets/images_subcategory_rtmokap/Mobile_3.png" alt="artist">
        <p>Artist</p>
    </div>

    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-mobile--partial">
        <img src="../assets/images_subcategory_rtmokap/Mobile_4.png" alt="product">
        <p>Product</p>
    </div>

</div>
