<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


    <link rel="stylesheet" href="/assets/styles/intro.css">
    <link rel="stylesheet" href="/assets/styles/homepage.css">
    <link rel="stylesheet" href="/assets/styles/home_library.css">
    <link rel="stylesheet" href="/assets/styles/mocak.css">
    <link rel="stylesheet" href="/assets/styles/handmade.css">
    <link rel="stylesheet" href="/assets/styles/subcategories_description.css">
    <link rel="stylesheet" href="/assets/styles/subcategories_analysis.css">
    <link rel="stylesheet" href="/assets/styles/subcategories_desktop.css">
    <link rel="stylesheet" href="/assets/styles/subcategories_mobile.css">
    <link rel="stylesheet" href="/assets/styles/mediaquery.css">


</head>
<body>
{{{body}}}
</body>
<script src="/assets/scripts/intro.js"></script>
<script src="/assets/scripts/handler.js"></script>
<script src="/assets/scripts/homepage.js"></script>

</html>