<section class="desktop">
    <div class="menu">
        <a href="/homepage" id="name">Aleksandra Tarnawska</a>
        <a href="/about" id="about">About</a>
        <a href="/contact" id="contact">Contact</a>
    </div>

    <div class="img-slider" >
        <div class="img-wrapper">
            <img src="/assets/images_main/mocakmokap light.jpg" alt="images" class="img-left" data-slider>
        </div>

        <div class="img-wrapper">
            <img src="/assets/images_main/home library homepage mockup.jpg" alt="images" class="img-center"  data-slider>
            <div class="content" data-content onclick="onclickHandler();"></div>
        </div>

        <div class="img-wrapper">
            <img src="/assets/images_main/rtmokap light.jpg" alt="images" class="img-right" data-slider>
        </div>

    </div>

    <div class="nav" data-navigation>
      <span class="material-symbols-outlined" data-nav-prev>
        west
      </span>
        <span class="material-symbols-outlined" data-nav-next>
        east
      </span>

    </div>
</section>

<section class="mobile">

<!--    <div class="img-slider--mobile" >-->
        <div class="img-wrapper--mobile">
            <img src="/assets/images_main/mocakmokap.jpg" alt="images" class="img-left" onclick="onclickHandlerMobileMocak();">
            <div class="title-mobile"><p>Mocak Museum of<br> Contemporary Art<br> In Cracow</p></div>
        </div>

        <div class="img-wrapper--mobile">
            <img src="/assets/images_main/home library homepage mockup.jpg" alt="images" class="img-center" onclick="onclickHandlerMobileHomelibrary();">
            <div class="title-mobile title-mobile--color"><p>Home library</p></div>
        </div>

        <div class="img-wrapper--mobile">
            <img src="/assets/images_main/rtmokap.jpg" alt="images" class="img-right" onclick="onclickHandlerMobileHandmade();">
            <div class="title-mobile"><p>Online handmade<br> products store</p></div>
        </div>

<!--    </div>-->

</section>
