<div class="title-subcategories--partial">
    <p>Analysis</p>
</div>


<div class="img_mobile-subcategories--partial">

    <div class ="img_mobile-subcategories1--partial img_mobile-analysis--partial">
        <img src="../assets/images_subcategory_homelibrary/Analysis_1.jpg" alt="person">
        <p>Persona 1</p>
    </div>

    <div class ="img_mobile-subcategories1--partial img_mobile-analysis--partial">
        <img src="../assets/images_subcategory_homelibrary/Analysis_2.jpg" alt="person">
        <p>Persona 2</p>
    </div>

    <div class ="img_mobile-subcategories1--partial img_mobile-analysis--partial">
        <img src="../assets/images_subcategory_homelibrary/Analysis_3.jpg" alt="person">
        <p>Conversion and user flow</p>
    </div>

</div>