<div class="container-description--partials">
    <p>A site designed to help readers organize their book collections.
        User will be able to know what books are already in their library, to whom they have lent
        a particular title, or where a book is placed on
        a bookshelf in their home.
    </p>
</div>