<div class="title-subcategories--partial">
    <p>Mobile</p>
</div>


<div class="img_mobile-subcategories--partial">

    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-mobile--partial">
        <img src="../assets/images_subcategory_homelibrary/Mobile_1.jpg" alt="person">
        <p>Login</p>
    </div>

    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-mobile--partial">
        <img src="../assets/images_subcategory_homelibrary/Mobile_2.jpg" alt="person">
        <p>Book Search Engine</p>
    </div>

    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-mobile--partial">
        <img src="../assets/images_subcategory_homelibrary/Mobile_3.jpg" alt="person">
        <p>Add a book</p>
    </div>

    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-mobile--partial">
        <img src="../assets/images_subcategory_homelibrary/Mobile_4.jpg" alt="person">
        <p>Acknowledgments</p>
    </div>

    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-mobile--partial">
        <img src="../assets/images_subcategory_homelibrary/Mobile_5.jpg" alt="person">
        <p>Library</p>
    </div>
</div>

