<section class="section-analysis-mocak">
    <div class="menu-analysis">
        <a href="/mocak" class="pointer-analysis" id="name">Mocak</a>
        <a href="/about" class="pointer-analysis" id="about">About</a>
        <a href="/contact" class="pointer-analysis" id="contact">Contact</a>
    </div>

    <div class="mocak-analysis">
        <div class="mocak-dots-analysis">
            <span
                    class="mocak-dots-analysis-one tooltip-description"
                    onclick="onclickMocakDotsOne();"
            >
            </span>
            <span
                    class="mocak-dots-analysis-two tooltip-analysis"
                    onclick="onclickMocakDotsTwo();"
            >
            </span>
            <span
                    class="mocak-dots-analysis-three tooltip-desktop"
                    onclick="onclickMocakDotsThree();"
            >
            </span>
            <span
                    class="mocak-dots-analysis-four tooltip-mobile"
                    onclick="onclickMocakDotsFour();"
            >
            </span>
        </div>

        <div class="img_desktop-analysis img_desktop-analysis-mocak">

            <div class ="img-analysis">
                <img src="../assets/images_subcategory_mocak/Analysis_1.jpg" alt="person">
                <p>Persona 1</p>
            </div>

            <div class ="img-analysis">
                <img src="../assets/images_subcategory_mocak/Analysis_2.jpg" alt="person">
                <p>Persona 2</p>
            </div>

            <div class ="img-analysis">
                <img src="../assets/images_subcategory_mocak/Analysis_3.jpg" alt="person">
                <p>Conversion and user flow</p>
            </div>

        </div>

    </div>

    <span
            class="material-symbols-outlined"
            id="mocak-arrow-east"
            onclick="onclickMocakArrowEastAnalyses();"
    >
                east
    </span>

    <span
            class="material-symbols-outlined"
            id="mocak-arrow-west"
            onclick="onclickMocakArrowWestAnalyses();"
    >
                west
    </span>
</section>