<section class="section-analysis-mocak">
    <div class="menu-analysis">
        <a href="/mocak" class="pointer-analysis" id="name">Mocak</a>
        <a href="/about" class="pointer-analysis" id="about">About</a>
        <a href="/contact" class="pointer-analysis" id="contact">Contact</a>
    </div>

    <div class="mocak-analysis">
        <div class="mocak-dots-analysis">
            <span
                    class="mocak-dots-analysis-one tooltip-description"
                    onclick="onclickMocakDotsOne();"
            >
            </span>
            <span
                    class="mocak-dots-analysis-two tooltip-analysis"
                    onclick="onclickMocakDotsTwo();"
            >
            </span>
            <span
                    class="mocak-dots-analysis-three tooltip-desktop"
                    onclick="onclickMocakDotsThree();"
            >
            </span>
            <span
                    class="mocak-dots-analysis-four tooltip-mobile"
                    onclick="onclickMocakDotsFour();"
            >
            </span>
        </div>

        <div class="img-analysis-architecture">
            <img src="../assets/images_subcategory_mocak/Analysis_4.png" alt="architecture" width="861px" height="715px">
            <p>Information Architecture</p>
        </div>

    </div>

    <span
            class="material-symbols-outlined"
            id="mocak-arrow-west"
            onclick="onclickMocakArrowWestArchitecture();"
    >
                west
    </span>
</section>