<section class="section-description-mocak">
    <div class="menu-description">
        <a href="/mocak" class="pointer-description" id="name">Mocak</a>
        <a href="/about" class="pointer-description" id="about">About</a>
        <a href="/contact" class="pointer-description" id="contact">Contact</a>
    </div>
    <div class="mocak-description">
        <div class="mocak-dots-description">
            <span
                class="mocak-dots-description-one tooltip-description"
                onclick="onclickMocakDotsOne();"
            >
            </span>
            <span
                class="mocak-dots-description-two tooltip-analysis"
                onclick="onclickMocakDotsTwo();"
            >
            </span>
            <span
                class="mocak-dots-description-three tooltip-desktop"
                onclick="onclickMocakDotsThree();"
            >
            </span>
            <span
                class="mocak-dots-description-four tooltip-mobile"
                onclick="onclickMocakDotsFour();"
            >
            </span>
        </div>
        <div class="container-description container-mocak_description-background">
            <p>Redesign of the website of Krakow's contemporary art museum MOCAK.
                Their extensive collection presents the art of the last
                two decades in the context of post-war
                avant-garde and conceptual art.
                Users of the website can follow the latest exhibitions, read
                publications about the artists or learn more about the museum.
            </p>
        </div>
    </div>
    <div class="footer-description">
        <p>© 2023 Aleksandra Tarnawska. All rights reserved.</p>
    </div>
</section>