<section class="section-desktop-mocak height-desktop">
    <div class="menu-desktop">
        <a href="/mocak" class="pointer-desktop" id="name">Mocak</a>
        <a href="/about" class="pointer-desktop" id="about">About</a>
        <a href="/contact" class="pointer-desktop" id="contact">Contact</a>
    </div>

    <div class="mocak-desktop">
        <div class="mocak-dots-desktop">
                <span
                        class="mocak-dots-desktop-one tooltip-description"
                        onclick="onclickMocakDotsOne();"
                >
                </span>
                <span
                    class="mocak-dots-desktop-two tooltip-analysis"
                    onclick="onclickMocakDotsTwo();"
                >
                </span>
                <span
                    class="mocak-dots-desktop-three tooltip-desktop"
                    onclick="onclickMocakDotsThree();"
                >
                </span>
                <span
                    class="mocak-dots-desktop-four tooltip-mobile"
                    onclick="onclickMocakDotsFour();"
                >
                </span>
        </div>

        <div class="img_desktop-desktop img_desktop-mocak_desktop-background">
            <div class="img-desktop">
                <img src="../assets/images_subcategory_mocak/Desktop_1.jpg" alt="homepage">
                <p>Homepage</p>
            </div>
            <div class="img-desktop">
                <img src="../assets/images_subcategory_mocak/Desktop_2.jpg" alt="exhibitions page">
                <p>Exhibitions</p>
            </div>
        </div>

    </div>

    <span
            class="material-symbols-outlined"
            id="mocak-arrow-east"
            onclick="onclickMocakArrowEastDesktop();"
    >
                east
    </span>

    <span
            class="material-symbols-outlined"
            id="mocak-arrow-west"
            onclick="onclickMocakArrowWestDesktop();"
    >
                west
    </span>
</section>