<section class="section-analysis-mocak">
    <div class="menu-mobile">
        <a href="/mocak" class="pointer-mobile" id="name">Mocak</a>
        <a href="/about" class="pointer-mobile" id="about">About</a>
        <a href="/contact" class="pointer-mobile" id="contact">Contact</a>
    </div>

    <div class="mocak-mobile">
        <div class="mocak-dots-mobile">
                <span
                        class="mocak-dots-mobile-one tooltip-description"
                        onclick="onclickMocakDotsOne();"
                >
                </span>
                <span
                    class="mocak-dots-mobile-two tooltip-analysis"
                    onclick="onclickMocakDotsTwo();"
                >
                </span>
                <span
                    class="mocak-dots-mobile-three tooltip-desktop"
                    onclick="onclickMocakDotsThree();"
                >
                </span>
                <span
                    class="mocak-dots-mobile-four tooltip-mobile"
                    onclick="onclickMocakDotsFour();"
                >
                </span>
        </div>

        <div class="img_desktop-mobile img_desktop-mocak_mobile-background">
        <div class="img-mobile img-mobile--margin">
            <img src="../assets/images_subcategory_mocak/Mobile_1.jpg" alt="person" width="400px" height="717px">
            <p>Homepage</p>
        </div>
        <div class="img-mobile img-mobile--margin">
            <img src="../assets/images_subcategory_mocak/Mobile_2.jpg" alt="person" width="400px" height="717px">
            <p>Exhibitions</p>
        </div>
        <div class="img-mobile img-mobile--margin">
            <img src="../assets/images_subcategory_mocak/Mobile_3.jpg" alt="person" width="400px" height="717px">
            <p>Current Exhibition</p>
        </div>
        <div class="img-mobile img-mobile--margin">
            <img src="../assets/images_subcategory_mocak/Mobile_4.jpg" alt="person" width="400px" height="717px">
            <p>Contact</p>
        </div>
        </div>

    </div>

</section>