<section class="mocak-main-presentation">

        <div class="mocak-menu">
            <a href="/mocak" id="mocak-name">Mocak</a>
            <a href="/about" id="mocak-about">About</a>
            <a href="/contact" id="mocak-contact">Contact</a>
        </div>
            <div class="mocak-dots">
                <span
                        class="mocak-dots-one tooltip-description"
                        onclick="onclickMocakDotsOne();"
                >
                </span>
                <span
                        class="mocak-dots-two tooltip-analysis"
                        onclick="onclickMocakDotsTwo();"
                >
                </span>
                <span
                        class="mocak-dots-three tooltip-desktop"
                        onclick="onclickMocakDotsThree();"
                >
                </span>
                <span
                        class="mocak-dots-four tooltip-mobile"
                        onclick="onclickMocakDotsFour();"
                >
                </span>
            </div>

            <span
                    class="material-symbols-outlined"
                    id="mocak-arrowEast"
                    onclick="onclickMocakArrowEastTwo();"
            >
                east
            </span>

            <span
                    class="material-symbols-outlined"
                    id="mocak-arrowWest"
                    onclick="onclickMocakArrowWest();"
            >
                west
            </span>




</section>