<section class="section-about">
    <div class="menu-about">
        <a href="/homepage" class="pointer-about" id="name">Aleksandra Tarnawska</a>
        <a href="/about" class="pointer-about" id="about">About</a>
        <a href="/contact" class="pointer-about" id="contact">Contact</a>
    </div>
    <div class="container-about">
        <p>tDigital designer currently living in Berlin, specialized in creating websites for desktop and mobile devices.
            Detail-freak and analyst with an artistic background. Delivering user-friendly and modern interfaces, tailored
            to
            your needs.
        </p>
    </div>
    <div class="footer">
        <p>© 2022 Aleksandra Tarnawska. All rights reserved.</p>
    </div>
</section>