<section class="section-analysis">

    <div class="menu-analysis">
        <a href="/homelibrary" class="pointer-analysis" id="name">Home library</a>
        <a href="/about" class="pointer-analysis" id="about">About</a>
        <a href="/contact" class="pointer-analysis" id="contact">Contact</a>
    </div>

    <div class="categories-analysis">
        <div class="categories-dots-analysis">
                <span
                    class="categories-dots-analysis-one tooltip-description"
                    onclick="onclickDotsOne();"
                >
                </span>
                <span
                    class="categories-dots-analysis-two tooltip-analysis"
                    onclick="onclickDotsTwo();"
                >
                </span>
                <span
                    class="categories-dots-analysis-three tooltip-desktop"
                    onclick="onclickDotsThree();"
                >
                </span>
                <span
                    class="categories-dots-analysis-four tooltip-mobile"
                    onclick="onclickDotsFour();"
                >
                </span>
         </div>

        <div class="img_desktop-analysis">

            <div class ="img-analysis">
                <img src="../assets/images_subcategory_homelibrary/analysis_1.jpg" alt="person">
                <p>Persona 1</p>
            </div>

            <div class ="img-analysis">
                <img src="../assets/images_subcategory_homelibrary/analysis_2.jpg" alt="person">
                <p>Persona 2</p>
            </div>

            <div class ="img-analysis">
                <img src="../assets/images_subcategory_homelibrary/analysis_3.jpg" alt="person">
                <p>Conversion and user flow</p>
            </div>

        </div>

    </div>

    <span
            class="material-symbols-outlined"
            id="arrowEast"
            onclick="onclickArrowEastAnalyses();"
    >
                east
    </span>

    <span
            class="material-symbols-outlined"
            id="arrowWest"
            onclick="onclickArrowWestAnalyses();"
    >
                west
    </span>
</section>


