<section class="section-desktop height-desktop">
    <div class="menu-desktop">
        <a href="/homelibrary" class="pointer-desktop" id="name">Home library</a>
        <a href="/about" class="pointer-desktop" id="about">About</a>
        <a href="/contact" class="pointer-desktop" id="contact">Contact</a>
    </div>

    <div class="categories-desktop">
        <div class="categories-dots-desktop">
                <span
                        class="categories-dots-desktop-one tooltip-description"
                        onclick="onclickDotsOne();"
                >

                </span>
                <span
                    class="categories-dots-desktop-two tooltip-analysis"
                    onclick="onclickDotsTwo();"
                >
                </span>
                <span
                    class="categories-dots-desktop-three tooltip-desktop"
                    onclick="onclickDotsThree();"
                >
                </span>
                <span
                    class="categories-dots-desktop-four tooltip-mobile"
                    onclick="onclickDotsFour();"
                >
                </span>
        </div>

        <div class="img_desktop-desktop display-desktop">
            <div class="img-desktop">
                <img src="../assets/images_subcategory_homelibrary/desktop_3.jpg" alt="book search">
                <p>Book Search Engine</p>
            </div>
            <div class="img-desktop">
                <img src="../assets/images_subcategory_homelibrary/desktop_4.jpg" alt="library">
                <p>Library</p>
            </div>
        </div>

    </div>

    <span
            class="material-symbols-outlined"
            id="arrowWest"
            onclick="onclickArrowWestBooksearch();"
    >
                west
    </span>
</section>