<section class="categories-main-presentation">

    <div class="categories-menu">
        <a href="/homelibrary" id="categories-name">Home library</a>
        <a href="/about" id="categories-about">About</a>
        <a href="/contact" id="categories-contact">Contact</a>
    </div>
    <div class="categories-dots">
                <span
                        class="categories-dots-one tooltip-description"
                        onclick="onclickDotsOne();"
                >
                </span>
                <span
                    class="categories-dots-two tooltip-analysis"
                    onclick="onclickDotsTwo();"
                >
                </span>
                <span
                    class="categories-dots-three tooltip-desktop"
                    onclick="onclickDotsThree();"
                >
                </span>
                <span
                    class="categories-dots-four tooltip-mobile"
                    onclick="onclickDotsFour();"
                >
                </span>
    </div>

    <span
            class="material-symbols-outlined"
            id="arrowEast"
            onclick="onclickArrowEastTwo();"
    >
                east
    </span>

    <span
            class="material-symbols-outlined"
            id="arrowWest"
            onclick="onclickArrowWest();"
    >
                west
    </span>

</section>