<section class="section-analysis">
    <div class="menu-analysis">
        <a href="/handmade" class="pointer-analysis" id="name">Rzeczy Twórcze</a>
        <a href="/about" class="pointer-analysis" id="about">About</a>
        <a href="/contact" class="pointer-analysis" id="contact">Contact</a>
    </div>

    <div class="handmade-analysis">
        <div class="handmade-dots-analysis">
            <span
                    class="handmade-dots-analysis-one tooltip-description"
                    onclick="onclickHandmadeDotsOne();"
            >
            </span>
            <span
                    class="handmade-dots-analysis-two tooltip-analysis"
                    onclick="onclickHandmadeDotsTwo();"
            >
            </span>
            <span
                    class="handmade-dots-analysis-three tooltip-desktop"
                    onclick="onclickHandmadeDotsThree();"
            >
            </span>
            <span
                    class="handmade-dots-analysis-four tooltip-mobile"
                    onclick="onclickHandmadeDotsFour();"
            >
            </span>
        </div>

        <div class="img_desktop-analysis">

            <div class ="img-analysis">
                <img src="../assets/images_subcategory_rtmokap/Analysis_1.jpg" alt="person">
                <p>Persona 1</p>
            </div>

            <div class ="img-analysis">
                <img src="../assets/images_subcategory_rtmokap/Analysis_2.jpg" alt="person">
                <p>Persona 2</p>
            </div>

            <div class ="img-analysis">
                <img src="../assets/images_subcategory_rtmokap/Analysis_3.jpg" alt="person">
                <p>Conversion and user flow</p>
            </div>

        </div>

    </div>

    <span
            class="material-symbols-outlined"
            id="handmade-arrow-east"
            onclick="onclickHandmadeArrowEastAnalyses();"
    >
                east
    </span>

    <span
            class="material-symbols-outlined"
            id="handmade-arrow-west"
            onclick="onclickHandmadeArrowWestAnalyses();"
    >
                west
    </span>
</section>