<section class="section-analysis height-architecture">
    <div class="menu-analysis">
        <a href="/handmade" class="pointer-analysis" id="name">Rzeczy Twórcze</a>
        <a href="/about" class="pointer-analysis" id="about">About</a>
        <a href="/contact" class="pointer-analysis" id="contact">Contact</a>
    </div>

    <div class="handmade-analysis">
        <div class="handmade-dots-analysis">
            <span
                    class="handmade-dots-analysis-one tooltip-description"
                    onclick="onclickHandmadeDotsOne();"
            >
            </span>
            <span
                    class="handmade-dots-analysis-two tooltip-analysis"
                    onclick="onclickHandmadeDotsTwo();"
            >
            </span>
            <span
                    class="handmade-dots-analysis-three tooltip-desktop"
                    onclick="onclickHandmadeDotsThree();"
            >
            </span>
            <span
                    class="handmade-dots-analysis-four tooltip-mobile"
                    onclick="onclickHandmadeDotsFour();"
            >
            </span>
        </div>

        <div class="img-analysis-architecture">
            <img src="../assets/images_subcategory_rtmokap/Analysis_4.jpg" alt="architecture" width="1231px" height="781px">
            <p>Information Architecture</p>
        </div>

    </div>

    <span
            class="material-symbols-outlined"
            id="handmade-arrow-west"
            onclick="onclickHandmadeArrowWestArchitecture();"
    >
                west
    </span>
</section>