<section class="section-description">
    <div class="menu-description">
        <a href="/handmade" class="pointer-description" id="name">Rzeczy Twórcze</a>
        <a href="/about" class="pointer-description" id="about">About</a>
        <a href="/contact" class="pointer-description" id="contact">Contact</a>
    </div>
    <div class="categories-description">
    <div class="categories-dots-description">
        <span
                class="categories-dots-description-one tooltip-description"
                onclick="onclickHandmadeDotsOne();"
        >
        </span>
        <span
                class="categories-dots-description-two tooltip-analysis"
                onclick="onclickHandmadeDotsTwo();"
        >
        </span>
        <span
                class="categories-dots-description-three tooltip-desktop"
                onclick="onclickHandmadeDotsThree();"
        >
        </span>
        <span
                class="categories-dots-description-four tooltip-mobile"
                onclick="onclickHandmadeDotsFour();"
        >
        </span>
    </div>
    <div class="container-description">
        <p>Online store selling handmade products, which
            brings together both creators and people
            looking for original items. You can create an
            account, sell, as well as buy a product or get to
            know its creator by being able to contact
            directly.
        </p>
    </div>
    </div>
    <div class="footer-description">
        <p>© 2022 Aleksandra Tarnawska. All rights reserved.</p>
    </div>
</section>