<section class="section-mobile">
    <div class="menu-mobile">
        <a href="/handmade" class="pointer-mobile" id="name">Rzeczy Twórcze</a>
        <a href="/about" class="pointer-mobile" id="about">About</a>
        <a href="/contact" class="pointer-mobile" id="contact">Contact</a>
    </div>

    <div class="categories-mobile">
        <div class="categories-dots-mobile">
                <span
                        class="categories-dots-mobile-one tooltip-description"
                        onclick="onclickHandmadeDotsOne();"
                >
                </span>
                <span
                    class="categories-dots-mobile-two tooltip-analysis"
                    onclick="onclickHandmadeDotsTwo();"
                >
                </span>
                <span
                    class="categories-dots-mobile-three tooltip-desktop"
                    onclick="onclickHandmadeDotsThree();"
                >
                </span>
                <span
                    class="categories-dots-mobile-four tooltip-mobile"
                    onclick="onclickHandmadeDotsFour();"
                >
                </span>
        </div>

        <div class="img_desktop-mobile">
            <div class="img-mobile img-mobile--margin">
                <img src="../assets/images_subcategory_rtmokap/Mobile_1.jpg" alt="person" width="400px" height="717px">
                <p>Homepage</p>
            </div>
            <div class="img-mobile img-mobile--margin">
                <img src="../assets/images_subcategory_rtmokap/Mobile_2.jpg" alt="person" width="400px" height="717px">
                <p>Menu</p>
            </div>
            <div class="img-mobile img-mobile--margin">
                <img src="../assets/images_subcategory_rtmokap/Mobile_3.jpg" alt="person" width="400px" height="717px">
                <p>Artist</p>
            </div>
            <div class="img-mobile img-mobile--margin">
                <img src="../assets/images_subcategory_rtmokap/Mobile_4.jpg" alt="person" width="400px" height="717px">
                <p>Product</p>
            </div>
        </div>
    </div>
</section>