<section class="handmade-main-presentation_mobile">

        <div class="handmade-menu">
            <a href="/handmade" id="handmade-name">Rzeczy Twórcze</a>
            <a href="/about" id="handmade-about">About</a>
            <a href="/contact" id="handmade-contact">Contact</a>
        </div>
            <div class="handmade-dots">
                <span
                        class="handmade-dots-one tooltip-description"
                        onclick="onclickHandmadeDotsOne();"
                >
                </span>
                <span
                        class="handmade-dots-two tooltip-analysis"
                        onclick="onclickHandmadeDotsTwo();"
                >
                </span>
                <span
                        class="handmade-dots-three tooltip-desktop"
                        onclick="onclickHandmadeDotsThree();"
                >
                </span>
                <span
                        class="handmade-dots-four tooltip-mobile"
                        onclick="onclickHandmadeDotsFour();"
                >
                </span>
            </div>

            <span
                    class="material-symbols-outlined"
                    id="handmade-arrowWest"
                    onclick="onclickHandmadeArrowWestTwo();"
            >
                west
            </span>




</section>