<section class="section-desktop">
    <div class="menu-desktop">
        <a href="/handmade" class="pointer-desktop" id="name">Rzeczy Twórcze</a>
        <a href="/about" class="pointer-desktop" id="about">About</a>
        <a href="/contact" class="pointer-desktop" id="contact">Contact</a>
    </div>

    <div class="categories-desktop">
        <div class="categories-dots-desktop">
                <span
                        class="categories-dots-desktop-one tooltip-description"
                        onclick="onclickHandmadeDotsOne();"
                >
                </span>
                <span
                    class="categories-dots-desktop-two tooltip-analysis"
                    onclick="onclickHandmadeDotsTwo();"
                >
                </span>
                <span
                    class="categories-dots-desktop-three tooltip-desktop"
                    onclick="onclickHandmadeDotsThree();"
                >
                </span>
                <span
                    class="categories-dots-desktop-four tooltip-mobile"
                    onclick="onclickHandmadeDotsFour();"
                >
                </span>
        </div>

        <div class="img_desktop-desktop">
            <div class="img-desktop">
                <img src="../assets/images_subcategory_rtmokap/Desktop_3.png" alt="product">
                <p>Product</p>
            </div>
            <div class="img-desktop">
                <img src="../assets/images_subcategory_rtmokap/Desktop_4.png" alt="artists">
                <p>Artists</p>
            </div>
        </div>
    </div>

    <span
            class="material-symbols-outlined"
            id="arrowWest"
            onclick="onclickHandmadeArrowWestProduct();"
    >
                west
    </span>
</section>