<div class="container-description--partials mocak-mobile-color">
    <p>Redesign of the website of Krakow's contemporary art museum MOCAK.
        Their extensive collection presents the art of the last
        two decades in the context of post-war
        avant-garde and conceptual art.
        Users of the website can follow the latest exhibitions, read
        publications about the artists or learn more about the museum.
    </p>
</div>