png<div class="title-subcategories--partial">
    <p>Desktop</p>
</div>

<div class="img_mobile-subcategories--partial">

    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-desktop--partial">
        <img src="../assets/images_subcategory_mocak/Desktop_1.png" alt="person" >
        <p>Homepage</p>
    </div>
    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-desktop--partial">
        <img src="../assets/images_subcategory_mocak/Desktop_2.png" alt="person" >
        <p>Exhibitions</p>
    </div>
    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-desktop--partial">
        <img src="../assets/images_subcategory_mocak/Desktop_3.jpg" alt="person" >
        <p>Current Exhibition</p>
    </div>
    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-desktop--partial">
        <img src="../assets/images_subcategory_mocak/Desktop_4.png" alt="person" >
        <p>Contact</p>
    </div>

</div>

