<div class="title-subcategories--partial">
    <p>Mobile</p>
</div>


<div class="img_mobile-subcategories--partial">

    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-mobile--partial">
        <img src="../assets/images_subcategory_mocak/mobile_1.jpg" alt="person">
        <p>Homepage</p>
    </div>

    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-mobile--partial">
        <img src="../assets/images_subcategory_mocak/mobile_2.jpg" alt="person">
        <p>Exhibitions</p>
    </div>

    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-mobile--partial">
        <img src="../assets/images_subcategory_mocak/mobile_3.jpg" alt="person">
        <p>Current Exhibition</p>
    </div>

    <div class ="img_mobile-subcategories1--partial img_mobile-radius img_mobile-mobile--partial">
        <img src="../assets/images_subcategory_mocak/mobile_4.jpg" alt="person">
        <p>Contact</p>
    </div>

</div>

